/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#logo {
    text-align: center;
}

body, html {
	height: 100%;
}
body {
    background-image: initial;
    /* background-color: rgb(24, 26, 27); */
    /* height: 100%; */
    margin: 0;
    padding: 0;
	font-size: 14px;
	font-family: 'Roboto', Arial, sans-serif;	

}
.sizing {
	flex-shrink: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	/* color: rgb(211, 207, 201); */
	color: white;
}
a.link {
	color: dodgerblue;
}
.body-div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-bar-container {
	display: flex;
	padding: 6px;
	align-items: center;
	height: 60px;
	flex-shrink: 0;
	box-sizing: border-box;
}

.left-nav {
	margin-left: 15px;
	display: inline-block;
	padding: 5px;
	margin: 0 5px;
}

.left-nav-link-two {
	margin-left: 15px;
}
.mid-top-container {
	display: inline-block;
	position: relative;
	min-width: auto;
	flex-grow: 1;
}

.right-nav {
	display: flex;
	float: right;
	align-items: center;
	padding: 0 4px;
	padding-left: 32px;	
	margin-right: 4px;
}
.mid-box {
	position: relative;
	top: 20%;
	bottom: 50%;
}
#logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100% - 560px);	
	position: relative;
}

#form {
	display: block;
	margin-top: 0em;
}

.form-div {
	display: block;
	padding: 20px;
}

.search-container {
	width: auto;
	position: relative;
	margin: 0 auto;
	padding-top: 6px;
}
.search-div {
	width: 600px;
	min-width: fit-content;
	display: flex;
	border-radius: 24px;
	border: 1px solid rgb(56, 61, 63);
	height: 44px;
	z-index: 3;
	margin: 0 auto;
	flex: 1;
	padding: 5px 8px 0 16px;
}
#search-icon {
	display: flex;
	align-items: center;
	padding-right: 13px;
	margin-top: -5px;
}

#search-bar {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	word-wrap: break-word;
	margin-bottom: 5px;
	border: none;
}
input#search {
	width: 100%;
	border: none;
	background: transparent;
}

#mic-icon {
	display: flex;
	align-items: center;
	padding-left: 13px;
	margin-top: -5px;
	margin: 0 auto;
}

.buttons-div {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.button {

}

.mid-spot-promo {

}
footer {
	margin: auto;
	position: absolute;
	display: flex;
	align-items: center;
	background:rgb(56, 61, 63);
	height: 3rem;
	right: 0;
	bottom: 0;
	left: 0;
}
.bottom-bar-container {
	width: 100%;
}

.bot-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.bot-left {
	padding-left: 10px;
}

.bot-mid {
	display: flex;
	align-items: center;
	padding: 2px;
}

.bot-right {
	padding-right: 10px;
}